<div class="primary-container">
    <section class="label-and-input-field-section">
        <label>{{label}}</label>

        <input [formControl]="control" class="input-field" [ngClass]="{'error-in-input': showErrors()}">
    </section>

    <ng-container *ngIf="showErrors()">
        <section *ngIf="control.errors.required" class="error-message">
            <p>Value is required</p>
        </section>

        <section *ngIf="control.errors.pattern" class="error-message">
            <p>Enter birthdate in dd-mm-yyyy format</p>
        </section>
    </ng-container>
</div>