<div class="primary-container">
    <section class="label-and-input-field-section">
        <label>{{label}}</label>

        <input [formControl]="control" class="input-field" [ngClass]="{'error-in-input': showErrors()}">
    </section>

    <ng-container *ngIf="showErrors()">
        <section *ngIf="control.errors.required" class="error-message">
            <p>Value is required</p>
        </section>

        <section *ngIf="control.errors.minlength" class="error-message">
            <p>
                Value is {{control.errors.minlength.actualLength}} characters long, but it must be atleast
                {{control.errors.minlength.requiredLength}} characters long
            </p>
        </section>

        <section *ngIf="control.errors.maxlength" class="error-message">
            <p>
                Value is {{control.errors.maxlength.actualLength}} characters long, but it must be atmost
                {{control.errors.maxlength.requiredLength}} characters long
            </p>
        </section>>

        <section *ngIf="control.errors.pattern" class="error-message">
            <p>Enter alphabets only</p>
        </section>
    </ng-container>
</div>