<div class="primary-container">
    <section class="label-and-input-field-section">
        <label>{{label}}</label>

        <input [formControl]="control" class="input-field" [ngClass]="{'error-in-input': showErrors()}">
    </section>

    <ng-container *ngIf="showErrors()">
        <section *ngIf="control.errors.required" class="error-message">
            <p>
                Value is required.
            </p>
        </section>

        <section *ngIf="control.errors.pattern" class="error-message">
            <p>Password must contain atleast 8 characters and atmost 20 characters</p>
            <p>Password must contain atleast 1 uppercase letter.</p>
            <p>Password must contain atleast 1 lowercase letter.</p>
            <p>Password must contain atleast 1 digit.</p>
            <p>Password must contain atleast 1 special character like !,@,#,$,%,&,*,(,),-,+,=,^,.,~</p>
            <p>Password must not contain space</p>
        </section>
    </ng-container>
</div>